@import "blocks/header";
@import "blocks/apartament";
@import "blocks/cooperation";
@import "blocks/footer";

.tab{
    background: url(/img/main.png);
    height: 990px;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
}
@font-face {
    font-family: "ubuntu";
    src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "allerta";
    src: url("../fonts/allerta/Allerta-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "inter";
    src: url("../fonts/inter/Inter-Regular.ttf");
    font-weight: 400;
}
